<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zr.corpus.dao.CorpusDao">
    <select id="getOne" parameterType="java.util.Map" resultType="map">
        select * from sentence where id not in (select sentence_id from corpus where 1=1
        <if test="address!=null">
            and address = #{address}
        </if>
        <if test="recorderName!=null">
            and recorder_name = #{recorderName}
        </if>
        <if test="dialect!=null">
            and dialect = #{dialect}
        </if>
        <if test="sex!=null">
            and sex = #{sex}
        </if>)
    </select>

    <insert id="addCorpus" parameterType="java.util.Map">
        insert into corpus (sentence_id,recorder_name,sex,address,audio) values (#{sentenceId},#{name},#{sex},#{address},#{audioStr})
    </insert>
</mapper>
